
body {
    margin: 1em;
    background-color: antiquewhite;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 12px;
}

.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.container2 {
    display: flex;
    justify-content: center;

}

.box {
    width: 25vh;
    height: 25vh;
    background-color: #00ff627c;
    margin-right: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

#c1{
    background-color: goldenrod;
   
}
#c2{
    background-color: pink;
}
#c3{
    background-color: rgb(16, 17, 124);
   
}
#c4{
    background-color: orange;
   
}
#c5{
    background-color: magenta;
   
}