body {
    background-color: rgb(162, 225, 255);
    text-align: center;
}

/*Aqui especifico como va a ser el modal, su posicion y demas*/
#modal {
    background: rgba(0, 0, 0, 0.178);
    color: #fff;
    position: absolute;
    height: 45vh;
    width: 60vh;
    transition: all .5s;
    margin-left: 1%;
    margin-top: 10%;
    border: solid 2px red;
    border-radius: 10%;
}
/*Aqui centro el parrafo en el modal*/
#modal p {
    width: 60%;
    height: 20%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    font-size: 1.4em;
    text-shadow: 0 1px 0 #964545; 
    box-shadow: 0 1px 1px rgba(0,0,0,0.3);
    
}

#mostrar-modal {
    display: none;
}
/*Para hacer que la etiqueta se muestre como un boton*/
#mostrar-modal+label {
    background: steelblue;
    display: table;
    margin: auto;
    color: #24dd4c;
    line-height: 5;
    padding: 0 1em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: pointer;
    text-align: center;
    border-radius: 50%;
    
}

#mostrar-modal+label:hover {
    background: #38678f;
}

#mostrar-modal:checked~#modal {
    top: 0;
}

#cerrar-modal {
    display: none;
}

#cerrar-modal+label {
    position: absolute;
    top: 1em;
    right: 1em;
    z-index: 100;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    background: rgb(55, 0, 255);
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    border-radius: 50%;
    transition: all .5s;
    display: none;
}

#cerrar-modal:checked~#modal {
    top: -100vh;
}

#mostrar-modal:checked~#cerrar-modal+label {
    display: block;
}

#cerrar-modal:checked+label {
    display: none;
}

p {
    line-height: 12px;
}


div {
    line-height: 36px;
    border: solid 1px;
    border-radius: 2px;
    width: 50%;
    margin-left: 25%;

}


#ocultar:hover {
    visibility: hidden;

}

div:active {
    background-color: red;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}

p::first-letter {
    font-size: 1.5em;
}